@import "tailwindcss";

@custom-variant dark (&:where([data-theme="dark"], [data-theme="dark"] *));

:root {
  --bg: #ffffff;
  --side-bg: #dcdcdc;
  --text: #171717;
  --border: #000000;
}

[data-theme='dark'] {
  --bg: #0a0a0a;
  --side-bg: #636363;
  --text: #ededed;
  --border: #333333;
}

@theme inline {
  --color-bg: var(--bg);
  --color-text: var(--text);
  --color-border: var(--border);
  --color-side-bg: var(--side-bg);
}

body {
  background: var(--bg);
  color: var(--text);
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
} */

.no-tailwind {
  /* Reset TailwindCSS */
  all: revert;
  min-height: 100vh;
  max-height: fit-content;
}

.no-tailwind * {
  /* Reset TailwindCSS for Children */
  all: revert;
}

.no-tailwind * img {
  /* Reset TailwindCSS for Children */
  float: left;
  width: 30vw;
  height: auto;
  aspect-ratio: 1/1;
}

.no-tailwind * a {

  color: var(--text);
  font-style: italic;
}

.no-tailwind * a :hover {
  /* Reset TailwindCSS for Children */
  color: #6a7282;
}