@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  /* background: var(--background); */
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.no-tailwind {
  /* Reset TailwindCSS */
  all: revert;
  min-height: 100vh;
  max-height: fit-content;
}

.no-tailwind * {
  /* Reset TailwindCSS for Children */
  all: revert;
}

.no-tailwind * img {
  /* Reset TailwindCSS for Children */
  float: left;
  width: 30vw;
  height: auto;
  aspect-ratio: 1/1;
}